.aboutWrapper {
  display: flex;
  flex-direction: column;
}
.intro {
  /* Box model */
  display: flex;
  gap: 20px;
  margin-bottom: 44px;

  /* Typography */
  font-size: 64px;
}

.title {
  margin-bottom: 44px;

  /* Typography */
  font-size: 28px;
  font-weight: 400;
}

.about {
  /* Box model */
  width: 800px;
  align-self: center;
  margin-bottom: 60px;

  /* Typography */
  text-align: justify;
}
