.expListItem {
  /* Box model */
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 20px;

  /* Positioning */
  position: relative;
}

.expListItem::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 43px;
  display: block;
  left: -43px;
  top: 18px;
  background: black;
}

.expLogo {
  margin-right: 20px;
  position: relative;
}

.logo {
  width: 38px;
  height: 38px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.expLabel {
  margin-bottom: 10px; /* Верхний отступ */
  color: rgba(0, 0, 0, 0.537);
  cursor: pointer;
}
