.title {
  margin-bottom: 32px;

  /* Typography */
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
}

.experience {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.listItemTitle {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
}

.dates {
  color: rgba(0, 0, 0, 0.537);
}

/* actual */
.expWrapper {
  /* Box model */
  display: flex;
}

.partWrapper {
  width: calc((100% - 60px));
  text-align: left;
}

.expList {
  /* Positioning */
  position: relative;
}

.expList::before {
  content: "";
  position: absolute;
  left: -43px;
  top: -5px;
  width: 1px;
  height: calc(100% + 5px);
  display: block;
  background: black;
}
