.expList {
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.detailExpList {
  /* Box model */
  padding: 0 60px 60px 60px;
}

.eduList {
  max-width: 376px;
}

.techList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.techItem {
  max-width: 376px;
  position: absolute;
  left: 0;
  top: 580px;
}

.workList {
  width: 680px;
  padding-bottom: 80px;
}

.expListItem {
  text-align: left;

  /* Visual */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.expTitle {
  padding: 60px 60px 0 60px;
  margin-bottom: 44px;
  font-size: 28px;
  font-weight: 500;
}
