.listItem {
  display: flex;
  gap: 60px;
  align-items: center;
  margin-bottom: 60px;

  /* Visual */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.listItem:nth-child(even) {
  padding-left: 60px;
}

.listItem:nth-child(odd) {
  padding-right: 60px;
}
.listItem:hover {
  transform: scale(1.02);
}

.textWrapper {
  width: 720px;
}

.projName {
  /* Typography */
  font-weight: 400;
  font-size: 28px;
  text-align: start;
}

.projStack {
  /* Box model */
  margin-bottom: 32px;

  /* Typography */
  font-weight: 400;
  text-align: start;
  font-size: 18px;
}

.projDescr {
  /* Box model */
  margin-bottom: 32px;

  /* Typography */
  text-align: justify;
}

.linksWrapper {
  /* Box model */
  display: flex;
  gap: 40px;
  margin-bottom: 16px;

  /* Typography */
  font-family: "Gilda Display", serif;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.projLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
