/* gilda-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Gilda Display";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/gilda-display-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Verdana */

@font-face {
  font-display: swap;
  font-family: "Verdana";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/Verdana-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Verdana";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/Verdana-Italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Verdana";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Verdana.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Verdana";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Verdana-Bold.woff2") format("woff2");
}
